
* {margin: 0;padding: 0;}
nav, aside, header, footer, article, section, figure {display: block;}
fieldset, a img {border: none;}
body{
background: #78d8f0; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #78d8f0 0%, #0091bf 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#78d8f0), color-stop(100%,#0091bf)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #78d8f0 0%,#0091bf 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #78d8f0 0%,#0091bf 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #78d8f0 0%,#0091bf 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #78d8f0 0%,#0091bf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78d8f0', endColorstr='#0091bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color: rgba(0,0,0,0.9);
	font-family: 'Fjalla One', sans-serif;
	font-size: 62.5%;
}

a{ color: #fff;}
a:hover{ text-decoration:none;}
p{ margin:0 0 15px 0; font-size:1.6em;}
.version{display: block; font-size: 1.1em; text-align: right;}
.header h1{ 
	color: #fff;
	font-size: 8.0em;
	text-align: center; 
	text-transform: uppercase;
	text-shadow: 0 4px 0px rgba(0,0,0,0.4);
}
.header .description{
	color: rgba(0,0,0,0.5);
	display: block;
	font-size: 0.5em;
	text-shadow: none; 
}
.header nav{ text-align: right;}
.social img{display: inline-block; top: 0; position: relative;}
.social img:hover{top: -10px;}
.social img, .social img:hover{
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-0-transition: all 0.3s linear;
	transition: all 0.3s linear; 
}

.inside{ margin: 0 auto; width: 90%;}
.content{
	border-bottom: 1px solid rgba(256,256,256,0.2);
	padding: 30px 0 50px;
}
.content img{
 	float: left; 
 	margin: 0 0.8em 0.6em 0;
 	max-width: 100%;
}

.footer{ 
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 1.5em 0 0.8em; 
	text-align: center;
}
.footer address{font-size: 1.2em; font-style: inherit;}
.footer a{color: rgba(256,256,256,0.8)}
@media (max-width: 480px){
	.header h1{font-size: 4.0em;}
	.header .description{
		font-size: 0.4em;
		margin-bottom: 1em;
	}
	.header nav{text-align: center;}
	.content img{float: none; display: block; width: 250px; margin:0 auto 1.0em;}
}